PORT=3000
JWT_SECRET=tu-secret-key-aqui

# MQTT Broker (medidor trifasico)
MQTT_BROKER=192.168.90.126
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=

# MQTT Broker Local (alternativo)
MQTT_BROKER_LOCAL=localhost

# Home Assistant
HA_URL=http://192.168.0.133:8123
HA_TOKEN=tu-ha-token

# InfluxDB
INFLUX_URL=http://192.168.0.133:8086
INFLUX_TOKEN=tu-token-influxdb
INFLUX_ORG=miapp
INFLUX_BUCKET=nodered

# Offset valores del flujo Node-RED
OFFSET_IMPORTADO=28689
OFFSET_EXPORTADO=22305
OFFSET_MENSUAL_ACTIVA=29125
OFFSET_MENSUAL_GENERADA=22526